@font-face {
  font-family: "Millik";
  src: url("/Millik Regular/Millik Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none;
  list-style: none;
  font-family: "DM Sans";
}

body {
  background-color: #fafafa;
  margin: 0 !important;
}

.flex-container {
  height: 100%;
  align-items: center;
}

/* .rootcon {
  width: 95%;
  margin:auto;
} */

p {
  margin-top: 0 !important;
  margin-bottom: 0.4rem !important;
}

/* .conside {
 
} */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: auto 0; */
  padding: auto 0;
  width: 264px !important;
  background-color: #000000 !important;
  position: fixed;
  height: calc(100vh - 16px);
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-radius: 16px;
  margin-left: 10px !important;
  margin-top: 7px !important;
}

.sidebar a {
  align-items: center;
  display: block;
  color: #98a2b3;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500px;
}

.sidebar a:hover {
  background-color: #1b1b1b !important;
  border-radius: 0px;
  color: #faa804;
  border-left: 3px solid #faa804;
}

.sidebar a:hover i {
  color: #faa804;
}

.conab {
  padding-left: 12px;
}

.bignab {
  font-size: 30px;
  color: #fcfcfd;
  font-weight: 700;
}

.img1 {
  width: 30.58px;
  height: 38.09px;
}

.pad {
  padding-right: 15px;
}

.pad1a {
  padding-left: 15px;
}

.consection {
  /* Same as the width of the sidenav */
  margin-left: 264px;
  padding: 12px 30px;
}

.dash {
  font-size: 30px;
  color: #231f20;
  font-weight: 400;
}

.dashbut {
  border-bottom: 1px solid #eaecf0;
}

.welcomebox {
  display: flex;
  border: 1px solid #120515 !important;
  background-color: #120515 !important;
  color: white;
  border-radius: 12px;
  height: 149px;
  position: relative;
}

.welimg {
  width: 518.41;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.welimg2 {
  width: 518.41;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.john {
  font-size: 24px;
  margin-left: 25px;
}

.jsub {
  font-size: 16px;
  margin-left: 25px;
  color: #d0d5dd;
}

.walletbox {
  display: flex;
  border: 1px solid #eaecf0 !important;
  background-color: #ffffff !important;
  color: #101828;
  width: 30%;
  padding: 10px;
  border-radius: 12px;
  height: 164px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.06),
    0px 1px 3px rgba(16, 24, 40, 0.1);
}

.marg {
  margin: 15px !important;
}

/* .walleticonbox {
  border: 1px solid #fff7e8 !important;
  background-color: #fff7e8 !important;
  color: #101828;
  width: 51px;
  border-radius: 8px;
  height: 51px;
  margin-left: 12px !important;
  position: relative;
}

.walleticonbox .bi-wallet-fill {
  color: #c28200;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.walleticonbox .bi-stack {
  color: #c28200;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} */

.pad1b {
  padding-left: 7px;
}

.wbtxt {
  font-size: 14px;
  color: #667085;
}

.bi-eye {
  color: #667085;
}

.wbtxt2 {
  font-size: 18px;
  color: #101828;
  font-weight: 700;
}

.wbtxt3 {
  font-size: 18px;
  color: #101828;
  font-weight: 500;
}

.a4 {
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  border-collapse: collapse;
  width: 138px;
  padding: 7px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #101828 !important;
}

.a4:hover {
  background-color: #faa804;
}

.a3 {
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  border-collapse: collapse;
  width: 191px;
  padding: 7px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #101828 !important;
}

.a3:hover {
  background-color: #faa804;
}

.fsbox {
  font-size: 14px;
  color: #344054;
}

.a2 {
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  border-collapse: collapse;
  width: 108px;

  padding: 7px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #101828 !important;
}

.a2:hover {
  background-color: #faa804;
}

.rtrans {
  font-size: 16px;
  color: #101828;
  font-weight: 500;
}

.fieldbox5 {
  display: flex;
  border: 1px solid #eaecf0 !important;
  background-color: #ffffff !important;
  border-radius: 12px;
  flex-direction: column !important;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.06),
    0px 1px 3px rgba(16, 24, 40, 0.1);
}

.Successful {
  background-color: #ecfdf3;
  color: #027a48;
  text-align: center;
  border-radius: 16px;
  padding: 2px 8px;
  width: 50px;
  height: 22px;
  font-size: 12px;
}

.Failed {
  background-color: #fef3f2;
  color: #b42318;
  text-align: center;
  border-radius: 16px;
  padding: 2px 8px;
  width: 50px;
  height: 22px;
  font-size: 12px;
}

.ttxt {
  color: #667085;
  font-size: 14px;
  font-weight: 400;
}

.thtxt {
  color: #667085;
  font-size: 14px;
  font-weight: 500;
}

.redtxt {
  color: #d92d20;
  font-size: 14px;
  font-weight: 400;
}

tr td,
tr th {
  padding: 16.6px 11px;
  border-bottom: 1px solid #eaecf0;
}

.lasttd {
  border-bottom: none !important;
}

.pad1c {
  padding-right: 8px;
}

.hov:hover {
  background-color: rgb(249, 248, 248) !important;
}

.billpaymentmodal {
  display: none;
}

.modaldiv {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #979da780;
  z-index: 99;
}

.billpayment {
  padding-left: 20px;
  gap: 7rem;
  display: flex;
}

.fsbp {
  font-size: 24px;
  font-weight: 400;
}

label {
  display: block !important;
  font-size: 14px !important;
}

input,
label {
  margin: 0.4rem 0 !important;
}

.workinput {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 434px;
}

.fa-eye {
  position: absolute;
  top: 58%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

.a5 {
  background-color: #faa804;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  border-collapse: collapse;
  width: 434px;
  padding: 10px !important;
  margin-top: 20px;
  margin-right: px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #101828 !important;
}

.flex-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form > div {
  margin: 20px;
}

.number {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 434px;
}

.buss2 {
  font-size: 16px;
  font-weight: 500px;
  color: #667085;
}

.billpaymentmodal {
  display: none;
}

.conmainbillpayment {
  background-color: #ffffff;
  max-width: 508px;
  padding: 9px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1205px) {
  .conside {
    display: none;
  }

  .consection {
    margin-left: 0;
    width: 100%;
    padding: 12px 20px;
  }
}
