@font-face {
  font-family: "Millik";
  src: url("/Millik Regular/Millik Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none;
  list-style: none;
  font-family: "DM Sans";
}

body {
  background-color: #fafafa;
  margin: 0 !important;
}

.flex-container {
  height: 100%;
  align-items: center;
}

/* .rootcon {
      width: 95%;
      margin:auto;
    } */

p {
  margin-top: 0 !important;
  margin-bottom: 0.4rem !important;
}

/* .conside {
    
    } */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: auto 0; */
  padding: auto 0;
  width: 264px !important;
  background-color: #000000 !important;
  position: fixed;
  height: calc(100vh - 16px);
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-radius: 16px;
  margin-left: 10px !important;
  margin-top: 7px !important;
}

.sidebar a {
  align-items: center;
  display: block;
  color: #98a2b3;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500px;
}

.sidebar a:hover {
  background-color: #1b1b1b !important;
  border-radius: 0px;
  color: #faa804;
  border-left: 3px solid #faa804;
}

.sidebar a:hover i {
  color: #faa804;
}

.activesidebar {
  background-color: #1b1b1b !important;
  border-radius: 0px;
  color: #faa804 !important;
  border-left: 3px solid #faa804;
}

.activesidebar i {
  color: #faa804;
}

.conab {
  padding-left: 12px;
}

.bignab {
  font-size: 30px;
  color: #fcfcfd;
  font-weight: 700;
}

.img1 {
  width: 30.58px;
  height: 38.09px;
}

.pad {
  padding-right: 15px;
}

.pad1a {
  padding-left: 15px;
}

.consection {
  margin-left: 264px;
  padding: 12px 30px;
}

.bi-list {
  color: #120515;
  font-size: 30px;
  display: none;
}

.dash {
  font-size: 30px;
  color: #231f20;
  font-weight: 400;
}

.dashbut {
  border-bottom: 1px solid #eaecf0;
}

.john {
  font-weight: 500;
  font-size: 16px;
  color: #101828;
}

.personbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.aicon {
  border-bottom: 1px solid #eaecf0;
}

.aicon .a7 {
  color: #667085;
  text-decoration: none;
}

.aicon .a7 i {
  color: #000000 !important;
}

.aicon .a7 :hover {
  color: #667085;
}

.aicon .a7 :hover i {
  color: #000000;
}

.aicon .a8 {
  color: #667085;
  text-decoration: none;
}

.aicon .a8 i {
  color: #000000 !important;
}

.aicon .a8 :hover {
  color: #667085;
}

.aicon .a8 :hover i {
  color: #000000;
}

.bi-person {
  color: #000000;
}

.bi-lock {
  color: #000000;
}

.bs {
  color: #344054;
}

.mainsec {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.rtrans {
  font-size: 16px;
  color: #101828;
  font-weight: 500;
}

/* 
form > div {
  margin: 14px;
} */

.number {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 440px;
}

.buss2 {
  font-size: 16px;
  font-weight: 500px;
  color: #667085;
}

label {
  display: block !important;
  font-size: 14px !important;
  font-family: "Euclid Circular A", sans-serif !important;
  color: #667085;
  font-weight: 500;
  font-size: 16px;
}

input,
label {
  margin: 0.4rem 0 !important;
}

.workinput {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 440px;
}

.a9 {
  background-color: #faa804;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  border-collapse: collapse;
  width: 440px;
  padding: 10px !important;
  margin-top: 20px;
  margin-right: px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #000000 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.tftextbox .tfnote {
  max-width: 470px;
}

.password-container {
  position: relative;
}

.password-container .bi-eye {
  position: absolute;
  top: 54%;
  right: 4%;
  cursor: pointer;
  color: #98a1b4;
}

.pinbut {
  border-bottom: 1px solid #eaecf0;
}

.billpaymentmodal {
  display: none;
}

.modaldiv {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #979da780;
  z-index: 99;
}

.billpayment {
  padding-left: 20px;
  gap: 7rem;
  display: flex;
}

.fsbp {
  font-size: 24px;
  font-weight: 400;
}

label {
  display: block !important;
  font-size: 14px !important;
}

input,
label {
  margin: 0.4rem 0 !important;
}

.workinput {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 434px;
}

.fa-eye {
  position: absolute;
  top: 58%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

.a5 {
  background-color: #faa804;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  border-collapse: collapse;
  width: 434px;
  padding: 10px !important;
  margin-top: 20px;
  margin-right: px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #101828 !important;
  font-weight: 700 !important;
}

.flex-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-container3 form > div {
  margin: 20px;
}

.number {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 434px;
}

.buss2 {
  font-size: 16px;
  font-weight: 500px;
  color: #667085;
}

.billpaymentmodal {
  display: none;
}

.conmainbillpayment {
  background-color: #ffffff;
  /* max-width: 508px; */
  padding: 9px;
  display: flex;
}

.nairacon input[type="number"] {
  padding-left: 40px !important;
}

.nairacon {
  position: relative;
}

.nairacon label {
  position: absolute;
  left: 0;
  top: 1.5px;
  padding: 9px 8px;
  border-right: 1px solid #d0d5dd !important ;
}

.modal-dialog {
  width: 100%;
  /* margin-right: 0 !important; */
  /* margin: auto 0 auto 0 !important; */
}
.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 0 0 auto !important;
  background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0) scale(1);
  transform: translate(100%, 0) scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-dialog-slideout .modal-content {
  border: 0;
}
.modal-dialog-slideout .modal-header,
.modal-dialog-slideout .modal-footer {
  height: 4rem;
  display: block;
}

.bi-arrow-left {
  color: #000000;
  font-size: 25px;
}

@media (min-width: 480px) {
  .rootconmobile {
    display: none;
  }
}

@media (max-width: 1205px) {
  .conside {
    display: none;
  }

  .bi-list {
    display: block;
  }

  .consection {
    margin-left: 0;
    width: 100%;
    padding: 12px 20px;
  }
}

@media (min-width: 480px) and (max-width: 980px) {
  .mainsec {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
}

@media (min-width: 279px) and (max-width: 479px) {
  .rootcon {
    display: none;
  }

  .rootconmobile {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .settings1mobilenavimg {
    width: 44px;
    height: 45px;
  }

  .settings1mobile {
    gap: 1rem;
    display: flex;
    padding-top: 2.5rem;
    align-items: center;
  }

  .fsbts {
    font-size: 16px;
    font-weight: 700;
  }

  .fscp {
    font-weight: 700;
    font-size: 16px;
    color: #344054;
  }

  .bi-arrow-left {
    font-size: 25px;
    color: #000000;
  }

  .password-containermobile {
    position: relative;
  }

  .password-containermobile .bi-eye {
    position: absolute;
    top: 54%;
    right: 4%;
    cursor: pointer;
    color: #98a1b4;
  }

  label {
    display: block !important;
    font-size: 14px !important;
  }

  input,
  label {
    margin: 0.4rem 0 !important;
  }

  .workinput {
    border: none !important;
    border-radius: 10px !important;
    border: 1px solid #d0d5dd !important;
    border-collapse: collapse !important;
    padding: 8px !important;
    width: 100%;
  }

  .fa-eye {
    position: absolute;
    top: 58%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }

  .a3mobile {
    background-color: #faa804;
    border: 1px solid #d0d5dd;
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
    padding: 10px !important;
    margin-top: 20px;
    margin-right: px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #101828 !important;
    font-weight: 700 !important;
  }

  .flex-container4 {
    flex-direction: column;
  }

  .phoneconmobile input[type="number"] {
    padding-left: 50px !important;
  }

  .phoneconmobile {
    position: relative;
  }

  .phoneconmobile label {
    position: absolute;
    left: 0;
    top: 1.5px;
    padding: 9px 8px;
    border-right: 1px solid #d0d5dd !important ;
  }

  .numbermobile {
    border: none !important;
    border-radius: 10px !important;
    border: 1px solid #d0d5dd !important;
    border-collapse: collapse !important;
    padding: 8px !important;
    width: 100%;
  }

  .pinbuttmobile {
    border-bottom: 1px solid #eaecf0;
  }

  .fstfa {
    font-weight: 400;
    font-size: 14px;
    color: #344054;
  }

  .emailnotebox {
    border: 1px solid #eaecf0;
    box-shadow: 0px 1px 3px rgba(22, 22, 22, 0.05);
    border-radius: 8px;
    padding: 16px;
  }

  .wtfa {
    display: flex;
    gap: 1rem;
  }

  .pad1mobile {
    padding-left: 7px;
  }

  .aactive {
    text-decoration: none;
    color: #e39700;
  }

  .aactive:hover {
    text-decoration: none;
    color: #e39700;
  }
}
