@font-face {
  font-family: "Millik";
  src: url("./Millik Regular/Millik Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none;
  list-style: none;
  font-family: "DM Sans";
}

body {
  background-color: #fafafa;
  margin: 0 !important;
}

.flex-container {
  height: 100%;
  align-items: center;
}

/* .rootcon {
  width: 95%;
  margin:auto;
} */

p {
  margin-top: 0 !important;
  margin-bottom: 0.4rem !important;
}

/* .conside {
 
} */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: auto 0; */
  padding: auto 0;
  width: 264px !important;
  background-color: #000000 !important;
  position: fixed;
  height: calc(100vh - 16px);
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-radius: 16px;
  margin-left: 10px !important;
  margin-top: 7px !important;
}

.sidebar a {
  align-items: center;
  display: block;
  color: #98a2b3;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500px;
}

.sidebar a:hover {
  background-color: #1b1b1b !important;
  border-radius: 0px;
  color: #faa804;
  border-left: 3px solid #faa804;
}

.sidebar a:hover i {
  color: #faa804;
}

.activesidebar {
  background-color: #1b1b1b !important;
  border-radius: 0px;
  color: #faa804 !important;
  border-left: 3px solid #faa804;
}

.activesidebar i {
  color: #faa804;
}

.conab {
  padding-left: 12px;
}

.bignab {
  font-size: 30px;
  color: #fcfcfd;
  font-weight: 700;
}

.img1 {
  width: 30.58px;
  height: 38.09px;
}

.pad {
  padding-right: 15px;
}

.pad1a {
  padding-left: 15px;
}

.consection {
  /* Same as the width of the sidenav */
  margin-left: 264px;
  padding: 12px 30px;
}

.bi-list {
  color: #120515;
  font-size: 30px;
  display: none;
}

.dash {
  font-size: 30px;
  color: #231f20;
  font-weight: 400;
}

.dashbut {
  border-bottom: 1px solid #eaecf0;
}
/* 
.welcomebox {
  display: flex;
  border: 1px solid #120515 !important;
  background-color: #120515 !important;
  color: white;
  border-radius: 12px;
  height: 149px;
  position: relative;
}

.welimg {
  width: 518.41;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.welimg2 {
  width: 518.41;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} */

.john {
  font-weight: 500;
  font-size: 16px;
  color: #101828;
}

.personbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* 
.jsub {
  font-size: 16px;
  margin-left: 25px;
  color: #d0d5dd;
} */

.conwallet {
  padding-top: 32px;
}

.walletbox {
  display: flex;
  border: 1px solid #eaecf0 !important;
  background-color: #ffffff !important;
  color: #101828;
  width: 30%;
  padding: 10px;
  border-radius: 12px;
  height: 164px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.06),
    0px 1px 3px rgba(16, 24, 40, 0.1);
}

.marg {
  margin: 15px !important;
}

/* .walleticonbox {
  border: 1px solid #fff7e8 !important;
  background-color: #fff7e8 !important;
  color: #101828;
  width: 51px;
  border-radius: 8px;
  height: 51px;
  margin-left: 12px !important;
  position: relative;
}

.walleticonbox .bi-wallet-fill {
  color: #c28200;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.walleticonbox .bi-stack {
  color: #c28200;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} */

.pad1b {
  padding-left: 7px;
}

.wbtxt {
  font-size: 14px;
  color: #667085;
}

.bi-eye {
  color: #667085;
}

.wbtxt2 {
  font-size: 18px;
  color: #101828;
  font-weight: 700;
}

.wbtxt3 {
  font-size: 18px;
  color: #101828;
  font-weight: 500;
}

.a4 {
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  border-collapse: collapse;
  width: 138px;
  padding: 7px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #101828 !important;
}

.a4:hover {
  background-color: #faa804;
}

.a3 {
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  border-collapse: collapse;
  width: 191px;
  padding: 7px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #101828 !important;
}

.a3:hover {
  background-color: #faa804;
}

.fsbox {
  font-size: 14px;
  color: #344054;
}

.a2 {
  background-color: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  border-collapse: collapse;
  width: 108px;

  padding: 7px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #101828 !important;
}

.a2:hover {
  background-color: #faa804;
}

.rtranscon {
  padding-top: 35px;
}

.rtrans {
  font-size: 16px;
  color: #101828;
  font-weight: 500;
}

.fieldbox5 {
  display: flex;
  border: 1px solid #eaecf0 !important;
  background-color: #ffffff !important;
  border-radius: 12px;
  flex-direction: column !important;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.06),
    0px 1px 3px rgba(16, 24, 40, 0.1);
  height: 305px;
  margin-top: 20px;
}

.Successful {
  background-color: #ecfdf3;
  color: #027a48;
  text-align: center;
  border-radius: 16px;
  padding: 2px 8px;
  width: 50px;
  height: 22px;
  font-size: 12px;
}

.Failed {
  background-color: #fef3f2;
  color: #b42318;
  text-align: center;
  border-radius: 16px;
  padding: 2px 8px;
  width: 50px;
  height: 22px;
  font-size: 12px;
}

.ttxt {
  color: #667085;
  font-size: 14px;
  font-weight: 400;
}

.thtxt {
  color: #667085;
  font-size: 14px;
  font-weight: 500;
}

.redtxt {
  color: #d92d20;
  font-size: 14px;
  font-weight: 400;
}

.fieldbox5 tr td,
tr th {
  padding: 16.6px 11px;
  border-bottom: 1px solid #eaecf0;
}

.lasttd {
  border-bottom: none !important;
}

.pad1c {
  padding-right: 8px;
}

.hov:hover {
  background-color: rgb(249, 248, 248) !important;
}

.billpaymentmodal {
  display: none;
}

.modaldiv {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #979da780;
  z-index: 99;
}

.billpayment {
  padding-left: 20px;
  gap: 7rem;
  display: flex;
}

.fsbp {
  font-size: 24px;
  font-weight: 400;
}

label {
  display: block !important;
  font-size: 14px !important;
}

input,
label {
  margin: 0.4rem 0 !important;
}

.workinput {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 434px;
}

.fa-eye {
  position: absolute;
  top: 58%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

.a5 {
  background-color: #faa804;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  border-collapse: collapse;
  width: 434px;
  padding: 10px !important;
  margin-top: 20px;
  margin-right: px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #101828 !important;
  font-weight: 700 !important;
}

.flex-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form > div {
  margin: 20px;
}

.number {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 434px;
}

.buss2 {
  font-size: 16px;
  font-weight: 500px;
  color: #667085;
}

.billpaymentmodal {
  display: none;
}

.conmainbillpayment {
  background-color: #ffffff;
  /* max-width: 508px; */
  padding: 9px;
  display: flex;
}

.nairacon input[type="number"] {
  padding-left: 40px !important;
}

.nairacon {
  position: relative;
}

.nairacon label {
  position: absolute;
  left: 0;
  top: 1.5px;
  padding: 9px 8px;
  border-right: 1px solid #d0d5dd !important ;
}

.modal-dialog {
  width: 100%;
  /* margin-right: 0 !important; */
  /* margin: auto 0 auto 0 !important; */
}
.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 0 0 auto !important;
  background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0) scale(1);
  transform: translate(100%, 0) scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-dialog-slideout .modal-content {
  border: 0;
}
.modal-dialog-slideout .modal-header,
.modal-dialog-slideout .modal-footer {
  height: 4rem;
  display: block;
}

.bi-chevron-right {
  color: #9ca1a5;
}

.conmainpaymentreceipt {
  padding: 40px;
}

.paymentreceipt {
  display: flex;
  gap: 7rem;
}

.alc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fspr {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

.fsbp {
  font-size: 24px;
  font-weight: 400;
}

.flex-container2 {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.ieimg {
  width: 44.86px;
  height: 52.91px;
}

.ikfs {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.prfs {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

.tablepaymentreceipt {
  margin-top: 0.5;
}

.tablepaymentreceipt table {
  border-collapse: collapse;
  width: 100% !important;
}

.tablepaymentreceipt td {
  text-align: left;
  padding: 7px;
}

.ttxtpaymentreceipt {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.ttxt2paymentreceipt {
  font-weight: 700;
  font-size: 20px;
}

.a6 {
  background-color: #faa804;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  border-collapse: collapse;
  width: 409px;
  padding: 10px 16px !important;
  margin-top: 20px;
  margin-right: px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #101828 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.bi-arrow-left {
  color: #000000;
  font-size: 25px;
}
@media (max-height: 700px) {
  .conmainpaymentreceipt {
    padding: 0px 40px 0 40px;
  }

  .a6 {
    margin-top: 0;
  }
}

.bi-arrow-left {
  color: #000000;
  font-size: 25px;
}

@media (min-width: 920px) {
  .rootconmobile {
    display: none;
  }
}

@media (max-width: 1205px) {
  .conside {
    display: none;
  }

  .bi-list {
    display: block;
  }

  .consection {
    margin-left: 0;
    width: 100%;
    padding: 12px 20px;
  }
}

@media (min-width: 921px) and (max-width: 1039px) {
  .fieldbox5 {
    height: 400px;
  }
}

@media (min-width: 280px) and (max-width: 920px) {
  .rootcon {
    display: none;
  }

  .rootconmobile {
    display: flex;
    flex-direction: column;
  }

  .topdash {
    position: relative;
    width: 100%;
    background-color: #120515;
    padding: 20px;
    background-size: cover;
    height: 288px;
  }

  .topdash .topdashimg1 {
    position: absolute;
    top: 20%;
    left: 11%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 31.21px;
    height: 39.4px;
  }

  .topdash .topdashimg2 {
    position: absolute;
    top: 20%;
    left: 89%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
  }

  .topdash .topdashimg3 {
    position: absolute;
    top: 35%;
    left: 10.6%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 192.83px;
    height: 210.83px;
  }

  .topdash .topdashimg4 {
    position: absolute;
    top: 75%;
    left: 77%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 129px;
    width: 163px;
  }

  .hbfs {
    color: #d0d5dd;
    font-weight: 500;
    font-size: 14px;
  }

  .digits0 {
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
  }

  .paddhb {
    padding-top: 80px;
  }

  .mobilewalletbox {
    width: 332px;
    height: 223px;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(22, 22, 22, 0.1);
    border-radius: 8px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 20px; */
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .fwbox {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eaecf0;
  }

  .pbbox {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eaecf0;
  }

  .transbox {
    display: flex;
    padding: 10px;
  }

  .txtmobilewalletbox1 {
    font-weight: 700;
    font-size: 16px;
    color: #320e3a;
  }

  .txtmobilewalletbox2 {
    font-weight: 400;
    font-size: 12px;
    color: #320e3a;
  }

  .mobileiconimg {
    width: 32px;
    height: 32px;
  }

  .dashbody {
    padding: 200px 25px 0px;
  }

  .fsrecentranstxt {
    font-weight: 500;
    font-size: 12px;
    color: #000000;
  }

  .fsseealltxt {
    font-weight: 700;
    font-size: 14px;
    color: #faa804;
    text-decoration: none;
  }

  .insidetf {
    display: flex;
    padding: 20px 5px 20px;
    border-bottom: 1px solid #d0d5dd !important;
    align-items: center;
  }

  .ikejaElecimg {
    width: 39px;
    height: 40px;
  }

  .todayfs {
    font-weight: 700;
    font-size: 14px;
    color: #65696b;
  }

  .ikfs {
    font-weight: 400;
    font-size: 13px;
    color: #383a3c;
  }

  .ikejaEfs {
    font-weight: 400;
    font-size: 14px;
    color: #383a3c;
  }

  .datemobile {
    font-weight: 400;
    font-size: 13px;
    color: #383a3c;
  }

  .bi-circle-fill {
    color: #017c6a;
    font-size: 7px;
  }

  .redtxtmobile {
    font-weight: 500;
    font-size: 14px;
    color: #d92d20;
  }

  .successdotcon {
    align-items: baseline;
    display: flex;
    gap: 0.25rem;
  }

  .insidetflast {
    display: flex;
    padding: 20px 5px 0px;

    align-items: center;
  }

  .arr {
    font-weight: 500;
    font-size: 14px;
    color: #98a2b3;
    text-align: center;
    border-bottom: 1px solid #d0d5dd !important;
  }

  .tpc {
    font-weight: 500;
    font-size: 14px;
    color: #98a2b3;
  }

  .footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
/* 
@media (min-width: 320px) and (max-width: 767px) {
  .rootcon {
    display: none;
  }

  .rootconmobile {
    display: flex;
    flex-direction: column;
  }

  .topdash {
    position: relative;
    width: 100%;
    background-color: #120515;
    padding: 20px;
    background-size: cover;
    height: 288px;
  }

  .topdash .topdashimg1 {
    position: absolute;
    top: 20%;
    left: 11%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 31.21px;
    height: 39.4px;
  }

  .topdash .topdashimg2 {
    position: absolute;
    top: 20%;
    left: 89%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
  }

  .topdash .topdashimg3 {
    position: absolute;
    top: 35%;
    left: 12.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 192.83px;
    height: 210.83px;
  }

  .topdash .topdashimg4 {
    position: absolute;
    top: 75%;
    left: 77%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 129px;
    width: 163px;
  }

  .hbfs {
    color: #d0d5dd;
    font-weight: 500;
    font-size: 14px;
  }

  .digits0 {
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
  }

  .paddhb {
    padding-top: 80px;
  }

  .mobilewalletbox {
    width: 332px;
    height: 223px;
    background: #ffffff;
    box-shadow: 0px 2px 16px rgba(22, 22, 22, 0.1);
    border-radius: 8px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .fwbox {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eaecf0;
  }

  .pbbox {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eaecf0;
  }

  .transbox {
    display: flex;
    padding: 10px;
  }

  .txtmobilewalletbox1 {
    font-weight: 700;
    font-size: 16px;
    color: #320e3a;
  }

  .txtmobilewalletbox2 {
    font-weight: 400;
    font-size: 12px;
    color: #320e3a;
  }

  .mobileiconimg {
    width: 32px;
    height: 32px;
  }

  .dashbody {
    padding: 200px 25px 0px;
  }

  .fsrecentranstxt {
    font-weight: 500;
    font-size: 12px;
    color: #000000;
  }

  .fsseealltxt {
    font-weight: 700;
    font-size: 14px;
    color: #faa804;
    text-decoration: none;
  }

  .insidetf {
    display: flex;
    padding: 20px 5px 20px;
    border-bottom: 1px solid #d0d5dd !important;
    align-items: center;
  }

  .ikejaElecimg {
    width: 39px;
    height: 40px;
  }

  .todayfs {
    font-weight: 700;
    font-size: 14px;
    color: #65696b;
  }

  .ikfs {
    font-weight: 400;
    font-size: 16px;
    color: #383a3c;
  }

  .bi-circle-fill {
    color: #017c6a;
    font-size: 7px;
  }

  .redtxtmobile {
    font-weight: 500;
    font-size: 16px;
    color: #d92d20;
  }

  .insidetflast {
    display: flex;
    padding: 20px 5px 0px;

    align-items: center;
  }

  .arr {
    font-weight: 500;
    font-size: 14px;
    color: #98a2b3;
    text-align: center;
    border-bottom: 1px solid #d0d5dd !important;
  }

  .tpc {
    font-weight: 500;
    font-size: 14px;
    color: #98a2b3;
  }

  .footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
} */
