@font-face {
  font-family: "Millik";
  src: url("/Millik Regular/Millik Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none;
  list-style: none;
  font-family: "DM Sans";
}

body {
  background-color: #fafafa;
  margin: 0 !important;
}

.conmain {
  background-color: #ffffff;
  max-width: 508px;
  padding: 9px;
  display: flex;
  justify-content: center;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0.4rem !important;
}

.billpayment {
  padding-left: 20px;
  gap: 7rem;
  display: flex;
}

.fsbp {
  font-size: 24px;
  font-weight: 400;
}

.bi-arrow-left {
  font-size: 25px;
}

label {
  display: block !important;
  font-size: 14px !important;
}

input,
label {
  margin: 0.4rem 0 !important;
}

.workinput {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 434px;
}

.fa-eye {
  position: absolute;
  top: 58%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

.a3 {
  background-color: #faa804;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  border-collapse: collapse;
  width: 434px;
  padding: 10px !important;
  margin-top: 20px;
  margin-right: px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #101828 !important;
}

.flex-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form > div {
  margin: 20px;
}

.number {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #d0d5dd !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 434px;
}

.buss2 {
  font-size: 16px;
  font-weight: 500px;
  color: #667085;
}

.modaldiv {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #979da780;
  z-index: 99;
}
